* {
	font-family: url (https://www.pagecloud.com/blog/how-to-add-custom-fonts-to-any-website);
}


h1 {
	color: #28144e;
	margin-bottom: 0px;
}


.logo {
	margin-right: 480px;

}


span {
	margin-top: 0px;
	padding-top: 0px;
	
}

.menu {
	padding-left: 10px;
	color: grey;
}

.logo, .menu {
	vertical-align: middle;
}

.middle {
	margin-top: 10px;
}

.picture {
	float: right;
	align-content: middle;	
}

.middle .picture {
	display: inline-block;
	vertical-align: middle;
}

a {
	color: #B4A1D2;
}

.email {
	margin-right: 10px;
	width: 25%;
	padding: 20px;
	
}


::placeholder {
	color: lightgrey;
	padding-left: 20px;
}


.join {
	vertical-align: middle;
	text-align: center;
}


/* The learn more link on top of the heading */
.learn {
	padding: 10px;
	margin: 50px 0px 0px 0px;
	background-color: #28144e;
	color: #B4A1D2;
	border-radius: 30px;
}
/* Description about what Commune does */

.about {
	color: grey;
}

button {
	background-color: #28144e;
	color: white;
	padding: 20px;
	border-radius: 10px;
}


.partners {
	
}

/* This has not been assigned to an HTML element yet. This is to ensure spacing between the icons.*/
.icons {

}