* {
	font-family: ;
}


.brand {
	color: #28144e;
	display: inline;
	margin: auto;
}


h1 {
	color: #28144e;
}

.menu {
	flex-direction: row;
	display: inline;
	padding: 10px;
	justify-content: space-between;
	align-content: flex-end;

}


.about {
	color: lightgrey;
	display: 
}

button {
	background-color: #28144e;
	color: white;
	padding: 20px;
	border-radius: 10px;
}

.learn {
	padding: 10px;
	margin: 10px;
	background-color: #28144e;
	color: #B4A1D2;
	border-radius: 30px;
}
